<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} - Harper Reed, Nepholologist</title>
    {% block css %}
      <link rel="stylesheet" type="text/css"  media="screen, projection" href="/css/style.css" />
      <link rel="stylesheet" type="text/css"  media="screen, projection" href="/js/jquery.jgrowl.css" />
    {% endblock %}


    {% block extra-head %}
    {% endblock %}
  </head>

  <body>
    <img id="background-img" class="bg" src="http://c0367641.cdn.cloudfiles.rackspacecloud.com/3680331543_7653552f42_b.jpg" alt="" />
    {% block header %}
      <div id="header">
            {% block header-content %}
            <h1>Nepholologist</h1>
            {% endblock %}
      </div>
    {% endblock %}
    <div id="content" class="column container">
      {% block content-header %}
        {% if error %}<div class="error">{{ error }}</div>{% endif %}
        {% if info %}<div class="info">{{ info }}</div>{% endif %}
        {% if messages %}
          {% for message in messages %}
            <div class="info">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
    </div>
    {% block js %}
    <script type="text/javascript" 
            src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3.2");
     
      google.setOnLoadCallback(function() {
              start_updates();
      });
    </script>
    <script type="text/javascript" src="/js/jquery.jgrowl_compressed.js"></script>
    <script type="text/javascript" src="/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/js/action.js"></script>
    {% endblock %}
    
  </body>
</html>
