<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} - Google App Engine Superfeedr Shell</title>
    {% block css %}
	<style>
            body{
                margin: 20px;
                font-family:Verdana; font-size:10pt; color:#424242;
                
            }

	    a{
                font-family:Verdana; font-size:10pt; color:#424242;
		}

	    textarea{
		font-size: 10px;

		}
        </style>

    {% endblock %}


    {% block extra-head %}
    {% endblock %}
  </head>

  <body>
    {% block header %}
      <div id="header">
            {% block header-content %}
		<h1>Google App Engine Superfeedr Shell</h1>
		<h2>Real time notification pushed into App Engine</h3>
            {% endblock %}
      </div>
    {% endblock %}
    <div id="content" class="column container">
      {% block content-header %}
        {% if error %}<div class="error">{{ error }}</div>{% endif %}
        {% if info %}<div class="info">{{ info }}</div>{% endif %}
        {% if messages %}
          {% for message in messages %}
            <div class="info">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endblock %}
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
    </div>
    {% block js %}
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3.2");
	google.setOnLoadCallback(function() {
              start_updates();
        });

    </script>
    <script type="text/javascript" src="/js/action.js"></script>
    {% endblock %}
  </body>
</html>
